@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@500;700;900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@800&display=swap');


.myVideo {
  position: absolute;
  top: 0;
  left: 0;
  width: auto;
  height: 100%;
}

.video {
  position: relative;
  padding-bottom: 56.25%;
}

.intro {
  max-height: 100vh;
  overflow: hidden;
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  width: 100%;
  height: auto;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.main-header-font-family {
  font-family: 'Montserrat', sans-serif;
  font-weight: 900;
  text-align: center;
}

.header-font-family {
  font-family: 'Montserrat', sans-serif;
  font-weight: 500;
  text-align: center;
}

.ant-input-affix-wrapper  {
  border-top-left-radius: 30px !important;
  border-bottom-left-radius: 30px !important;
}

.my-input  {
  border-top-left-radius: 30px !important;
  border-bottom-left-radius: 30px !important;
  border-top-right-radius: 30px !important;
  border-bottom-right-radius: 30px !important;
}



.ant-input-group-addon {
  border-top-right-radius: 20px !important;
  border-bottom-right-radius: 20px !important;
}

.ant-input-search .ant-input-group .ant-input-group-addon:last-child .ant-input-search-button {
  border-top-right-radius: 20px !important;
  border-bottom-right-radius: 20px !important;
}

.film-preview {
  background-color: #111111bd;
  opacity: 0.8;
  width: 555px;
  height: 171px;
}

.preview-font-family {
  font-family: 'Montserrat', sans-serif;
  font-weight: 700;
  /* text-align: center; */
  color: #FEFEFE;
}

.preview-mini-font-family {
  font-size: 14px;
  font-weight: 400;
  font-family: 'Montserrat', sans-serif;
  text-align: center;
  color: #FBFBFB;
}

.preview-buttom-font-family {
  font-family: 'Montserrat', sans-serif;
  font-weight: 400;
  font-size: 12px;
  color: #FBFBFB;
}





/* .film-wrapper {
  margin-left: 150px;
  margin-right: 150px;
  display: flex;
} */

/* .header-left-info-font-family {
  font-family: 'Montserrat', sans-serif;
  font-weight: 300;
  font-size: 24px;
  color: #FEFEFE;
} */

/* .film-main-block {
  background-image: url('image1.jpg');
  width:100%;
  height:810px;
  background-repeat: no-repeat;
  background-size: cover;
  flex-direction: 'column';
} */

/* .film-main-block-info {
  display: flex;
  width: 500px;
  
  flex-direction: column;
} */

/* .film-main-info-name-font {
  font-family: 'Montserrat', sans-serif;
  font-weight: 900;
  font-size: 72px;
  color: #FEFEFE;
} */

/* .film-main-info-other-fonts {
  font-family: 'Montserrat', sans-serif;
  font-weight: 300;
  font-size: 24px;
  color: #FEFEFE;
} */

.watch-batton {
  width: 199px;
  height: 64px;
  border: 1px solid white;
  border-radius: 40px;
  font-family: 'Montserrat', sans-serif;
  color: #FEFEFE;
  font-size: 18px;
  font-weight: 600;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 196px;
}

.film-main-awords-block {
  margin-top: 50px;
  font-family: 'Montserrat', sans-serif;
  color: #FEFEFE;
  font-size: 18px;
  font-weight: 600;
  display: flex;
}

.film-down-block-header {
  font-family: 'Montserrat', sans-serif;
  color: #323232;
  font-size: 36px;
  font-weight: 900;
  width: 850px;
}

.film-down-block-info {
  font-family: 'Montserrat', sans-serif;
  color: #323232;
  font-size: 18px;
  font-weight: 400; 
  margin-top: 30px;
}

.film-down-block-films-like {
  font-family: 'Montserrat', sans-serif;
  color: #323232;
  font-size: 24px;
  font-weight: 900;
  margin-top: 60px;
}

